.gamesboxContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #ffffffe6;
  margin-top: 45px;
}

.gamescontainer {
  min-height: 78vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#link{
  text-decoration: none;
  color: inherit;
}

.searchGame {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.searchGame input {
  height: 5vh;
  width: 40vw;
  padding-left: 20px;
  border: solid 2px #ffffffe6;
  border-radius: 40px;
  background-color: rgba(113, 92, 195, 0.541);
  font-size: 19px;
  transition: 0.3s;
}

.searchGame input:focus {
  outline: none;
  background-color: rgba(113, 92, 195, 0.75);
  border: solid 2px rgba(254, 1, 94, 0.9);
}
