.gamesboxContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #ffffffe6;
  margin-top: 50px;
  overflow-y: auto;
}

.gamescontainer {
  min-height: 78vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1300px) {
  .gamesboxContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #ffffffe6;
    margin-top: 80px;
    overflow-y: auto;
  }
}
