.searchGame {
  margin-left: 7.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clearbutton {
  display: none;
}

.searchGame input {
  height: 35px;
  width: 35vw;
  padding-left: 20px;
  border: solid 1.5px #ffffffe6;
  border-radius: 40px;
  background-color: rgba(113, 92, 195, 0.541);
  font-size: 18px;
  transition: 0.3s;
}

#searchBtn {
  position: relative;
  right: 3.55vw;
  font-size: 1.3vh;
  height: 35.5px;
  width: 3.5vw;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  background-color: rgba(254, 1, 94, 0.6);
  color: white;
  border: none;
  transition: 0.2s;
}

#searchBtn:hover {
  background-color: rgba(254, 1, 94, 0.8);
}

.searchGame button:hover {
  background-color: rgba(254, 1, 94, 0.774);
  cursor: pointer;
  transition: 0.2s;
}

.searchGame input:focus {
  outline: none;
  background-color: rgba(113, 92, 195, 0.75);
  border: solid 2px rgba(254, 1, 94, 0.9);
}

@media (max-width: 1300px) {
  .searchGame input {
    height: 25px;
    width: 60vw;
    padding-left: 20px;
    border: solid 1.5px #ffffffe6;
    border-radius: 40px;
    background-color: rgba(113, 92, 195, 0.541);
    font-size: 18px;
    transition: 0.3s;
    margin-top: 10px;
  }

  #searchBtn {
    position: relative;
    right: 10vw;
    font-size: 1.3vh;
    height: 25.5px;
    width: 10vw;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    background-color: rgba(254, 1, 94, 0.6);
    color: white;
    border: none;
    transition: 0.2s;
    margin-top: 10px;
  }
}
