.cardcontainer {
    border: 2px solid #ffffffe6;
    max-height: 200px;
    min-height: 200px;
    max-width: 230px;
    margin: 20px 50px 20px 50px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 0.3s;
  }
  
  .cardcontainer:hover {
    border: solid 2px rgba(254, 1, 94, 0.9);
    max-height: 210px;
    min-height: 210px;
    max-width: 240px;
    margin: 15px 45px 15px 45px;
    cursor: pointer;
    transition: 0.3s;
  }
  .cardcontainer img {
    width: 230px;
    max-height: 13vh;
    min-height: 10vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .cardcontainer img{
    width: 240px;
  }

  .gameDetails {
    margin: 3px 0px 25px 10px;
  }
  
  .gameDetails h1 {
    font-size: 18px;
  }
  
  .gameDetails li {
    font-size: 13px;
  }
